@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222831;
}

.app{
    height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .app_h1{
        margin: 4rem auto;
        font-size: 3rem; 
        color: #00ADB5;
    }
}

@media(max-width: 576px){
    .app{
        .app_h1{
            font-size: 2rem; 
        }
    }
}